body{
    background-color: #00496e1a !important;
}

/*side bar*/
.navbar{
    background: #00496e !important;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    margin-top: 56px !important;
}
.main-content {
    margin-left: 250px;
    padding: 20px;
}
.side-link{
    background-color: #00496e1a;
    margin: 5px;
    color:black;
    font-weight: bold;
    border-radius: 5px;
    
}


.side-link:hover{
    color:black;
    background: #00496e70;
}

.sideActive{
    color: black !important;
    background: #00496e70;
}


/* -----------------card-------------------- */
.container{
    justify-content: space-evenly;
}

.card-body{
    height: fit-content;
    display: grid;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #00496e6f;
    
    /* width: max-content; */
}
.card-text {
    font-size: 15px;
    font-weight:500;
    width: auto;
    

}

.card-text strong{
    color: #00496e;
}

.viewDetailsbtn{
    color: #00496e !important;
    border: 1px solid #00496e;

}
.viewDetailsbtn:hover{
    background-color: #00496e !important;
    color: white !important;
}

.name-text{
    background-color: #00496e1a;
    border-radius: 5px;
}